@charset "utf-8";
/* CSS Document */

.a {
	background-color: red;
	width: 500px;
	height: 50px;
}

.b {
	background-color: blue;
	width: 50%;
	height: 50px;
}
 .c {
	background-color: yellow;
	max-width: 500px;
	height: 50px;
}

.d {
	background-color: black;
	min-width: 500px;
	height: 50px;
}

@media screen and (max-width: 500px) {
	.a, .b, .c, .d {
		background-color: gray;
	}
}
